Babel==1.3
Flask==0.10.1
Flask-Babel==0.9
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.0
Flask-Testing==0.4.2
Flask-User==0.5.2
Flask-WTF==0.10.2
Jinja2==2.7.3
MarkupSafe==0.23
PyMySQL==0.6.2
SQLAlchemy==0.9.7
WTForms==2.0.1
Werkzeug==0.9.6
blinker==1.3
colorama==0.3.2
execnet==1.2.0
itsdangerous==0.24
nose==1.3.4
passlib==1.6.2
py==1.4.25
py-bcrypt==0.4
pyasn1==0.1.7
pycrypto==2.6.1
pymysql-sa==1.0
pytest==2.6.3
pytest-xdist==1.11
pytz==2014.7
requests==2.4.3
rsa==3.1.4
selenium==2.43.0
speaklater==1.3
wsgi-liveserver==0.1
