.charts{
    align-items: center;

}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    /*margin-right:-4px;*/
    margin-right: 20px;
    margin-left: 20px;

}




.col-centered{
    float:none;
    margin: 0 auto;
}

.modal-dialog-center {
    margin: 0;
    margin-bottom: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal-footer {
    margin-top: 0;
}

@media (max-width: 767px) {
  .modal-dialog-center {
    width: 100%;
  }
}

.table-dashboard {
    border-right: none;
    border-bottom: none
}

td#table-icons {
    background-color: white;
    border: none;
}

#table-icons i {
    padding-left: 10px;
}

.hidden-alert {
    display: none;
}

#header-bottom{
    margin-top: -20px;
    background-color: #3399FF; 
    height: 8px;
    width: 100%;
}
