<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li {% if request.path == "/dashboard/overview.html" %} class="active"{% endif %}><a href="overview.html">Overview</a></li>
        <li {% if request.path == "/dashboard/members.html" %} class="active"{% endif %}><a href="members.html">Members</a></li>
        <li {% if request.path == "/dashboard/servers.html" %} class="active"{% endif %}><a href="servers.html">Servers</a></li>
        <li {% if request.path == "/dashboard/export.html" %} class="active"{% endif %}><a href="export.html">Export</a></li>
    </ul>
</div>