<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tromsøstudentenes Dataforening</title>
    <script type="application/javascript" src="{{url_for('static', filename='js/jquery-2.1.1.min.js')}}"></script>
    <script type="application/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.css')}}">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>