{% extends "base.html" %}
{% set active_page = "Hjem" %}
        {% block content %}
        <center>
        	<h2 class="page-header">Velkommen til Tromsøstudentenes dataforenings nye hjemmeside</h2>
            <h3 class="sub-header">Nyheter</h3>

            <article>
                Vi har nå fått nytt design og masse goodie goodies på websiden vår. Check it out!
            </article>
            <article class="article-header">Posted 00:37 26.10.2014 by Einar Kristoffersen</article>
            </br>

            <article>
                Det skal arrangeres styremøte i løpet av Høsten 2014. Følg med for nermere informasjon
            </article>
            <article class="article-header">Posted 18:17 14.10.2014 by Jørn Lomax</article>
       </center>
        {% endblock %}