{% extends "base.html" %}

{% block content %}
    <div class="row-centered" style="padding-top: 40px;">
<div class="col-md-6 col-lg-6 col-centered ">
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="5"></textarea>

        </div>
        <div class="form-group">
            <label for="nameInput">Navn</label>
            <input type="text" class="form-control" placeholder="Ditt navn">

        </div>
        <div class="form-group">
            <label for="emailInput">Epost</label>

            <input type="email" class="form-control" id="emailInput" placeholder="Epost hvis du vil ha tilbakemelding">

        </div>
            <button type="submit" class="btn btn-default">Submit</button>

    </form>
    </div>
        </div>

{% endblock content %}