{% extends "base.html" %}
{% set active_page = "Om oss" %}
{% block content %}
	<center>
		<h3>Om oss</h3>
	
	    <p>Vi er linjeofreningen for informatikk.
	    Det er usikkert når vi ble stiftet, men vi vet foreningen eksiterte før 1991. Serverrommet, "TD-labben" ble opprettet en gagn tidlig i 1993.</p>
	    <p>Vi har også hatt flere navn gjennom tidene, Tromsøstudentenes dataforening, TD og Northbridge. i 2012 skiftet vi navn tilbake til det orignale navne foreningen hadde, "Tromøstudentenes dataforening"</p>
	    <p>Du kan lese mer om historien bak TD og TD-labben fra en tidligere leder <a href="http://www.hungry.com/~pere/mypapers/td-lab-historie.html">her</a></p>
    </center>
{% endblock content %}