{% extends "base.html" %}
{% set active_page = "Styret" %}
        {% block content %}
        <p>Følgende er styremedlemmene i Tromsøstudentenes Dataforening</p>
        <table class="table table-hover table-bordered">
        {% for member in board_members %}
        <tr>
            <th>{{ member.position }}</th>
            <th>{{ member.first_name }} {{ member.last_name }}</th>
            <th>{{ member.mail |replace("@", " (at) ") }}</th>
        </tr>

        {% endfor %}
        </table>

        {% endblock %}