{% extends "dashboard/base.html" %}
{% block post_head %}


    <script type="application/javascript" src="{{url_for('static', filename='js/stupidtable.min.js')}}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include "snippets/dashboard_sidebar.html" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Members &ensp;
            <a href="#newMemberModal" role="button" data-toggle="modal" class="btn btn-primary">Add member</a>
             <a href="mailto:{% for member in members %}{{ member.mail }},{% endfor %}" role="button" class="btn btn-primary">Email all members</a>

        </h1>


            <table id="membersTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th data-sort="string">First Name </i> </th>
                        <th data-sort="string">Last Name </th>
                        <th data-sort="string">Position</th>
                        <th data-sort="string">Mail</th>
                        <th data-sort="int">Phone</th>
                        <th>Payed</th>
                    </tr>
                </thead>
                <tbody>
                {%  for member in members %}
                    <tr {% if member.payed == 0 %} class="danger" {% endif %}>
                        <td id="first_name">{{ member.first_name }}</td>
                        <td id="last_name">{{ member.last_name }}</td>
                        <td id="position">{{ member.position }}</td>
                        <td id="mail">{{ member.mail }}</td>
                        <td id="phone">{{ member.phone }}</td>
                        <td id="payed"><input type="checkbox" {% if member.payed %} checked{% endif %} disabled> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


    <!-- Modal widget for adding new member -->
    <div id="newMemberModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h3 id="newMemerModalLabel">Add new member</h3>
                </div>
                <div class="modal-body">
                    <form id="newMemberForm" class="form" name="newMemberForm" method="POST">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="firstNameInput">First Name</label>
                                <input id="firstNameInput" name="first_name" type="text" class="form-control" required>
                            </div>
                             <div class="form-group">
                                <label for="lastNameInput">Last Name</label>
                                <input id="lastNameInput" name="last_name" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group col-lg-offset-2">
                                <select class="form-control" name="position">
                                    <option>Leader</option>
                                    <option>Deputy Leader</option>
                                    <option>Secratary</option>
                                    <option>Treasurer</option>
                                    <option>Tech</option>
                                    <option>Board Member</option>
                                    <option>Member</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="mailInput" class="col-sm-2 control-label">Mail</label>
                                <div class="col-sm-10">
                                    <input type="email" name="mail" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phoneInput">Phone</label>
                                <input type="tel" name="phone" class="form-control">
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="payed">Payed?
                            </label>

                        </div>


                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <input type="submit" name="submit" class="btn btn-primary" id="newMemberSubmitBtn">
                </div>
            </div>
        </div>
    </div>
    <!--- End Modal --->

{% endblock %}
{% block post_script %}
<script>
$(document).ready(function(){
    var selected = null;
    $("table").stupidtable();

    $("#newMemberSubmitBtn").click(function(){

        var form = JSON.stringify($('form').serializeObject());
        console.log(form);
        $.ajax({
            url: "/ajax/member/new",
            data: form,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
                console.log("success");
                $("#newMemberModal").modal("hide");
                $("#newMemberForm")[0].reset();
                location.reload();
            },
            error: function(data, status){
                console.log(status);
                sweetAlert("Error " + data.status );

            },
            statusCode: {
                400: function(){
                    console.log("KeyError");
                }
            }

        });




    });


    function clickListener(e){
        console.log(e);
        if(selected != null){
            console.log(selected);
            var input = selected.children().first();
             var text = input.val();
            selected.text(text);
             selected = null;
        }
    }

    $("td").dblclick(function(){
        if(selected != null){
            return;
        }
        var td_id = $(this).attr("id")
        switch(td_id){
            case "first_name":
            case "last_name":
                $(this).html('<input type="text" value="' + $(this).text() + '"/>');
                break;
            case "mail":
                $(this).html('<input type="email" value="' + $(this).text() + '"/>');
                break;
            case "phone":
                $(this).html('<input type="tel" value="' + $(this).text() + '"/>');
                break;
            case "position":
                 //$(this).html('<select> <option value=Lead> type="text" value="' + $(this).text() + '"/>');
                break;
            case "payed":
                $(this).children().first().removeAttr("disabled");
                break;
        }

        console.log("double click");

        selected = $(this);
        $(this).children().first().focus();
        $(document).click(clickListener)
        $(this).children().first().keypress(function(e){
           if(e.which == 13){
               var text = $(this).val();
               $(this).parent().text(text);
               selected = null;
           }
        });

    });



    function adjustModalMaxHeightAndPosition(){
      $('.modal').each(function(){
        if($(this).hasClass('in') === false){
          $(this).show();
        }
        var contentHeight = $(window).height() - 60;
        var headerHeight = $(this).find('.modal-header').outerHeight() || 2;
        var footerHeight = $(this).find('.modal-footer').outerHeight() || 2;

        $(this).find('.modal-dialog').addClass('modal-dialog-center').css({

          'margin-top': function () {
            var mH = $(this).outerHeight();
            var wH = $(window).height();
            return (mH < wH ) ? -( mH * 0.6): -( wH * 0.5) + 12;
          },
          'margin-left': function () {
            return -($(this).outerWidth() / 2);
          }
        });
        if($(this).hasClass('in') === false){
          $(this).hide();
        }
      });
    }
    if ($(window).height() >= 320){
      $(window).resize(adjustModalMaxHeightAndPosition).trigger("resize");
    }





    $.fn.serializeObject = function(){
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

});
</script>
{% endblock %}
</div>